[submodule "Dependencies/glfw"]
	path = Dependencies/glfw
	url = https://github.com/qolisipo/glfw
[submodule "Dependencies/glew"]
	path = Dependencies/glew
	url = https://github.com/qolisipo/glew
[submodule "Dependencies/imgui"]
	path = Dependencies/imgui
	url = https://github.com/qolisipo/imgui
[submodule "Dependencies/spdlog"]
	path = Dependencies/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Dependencies/entt"]
	path = Dependencies/entt
	url = https://github.com/skypjack/entt
[submodule "Dependencies/nativefiledialog"]
	path = Dependencies/nativefiledialog
	url = https://github.com/qolisipo/nativefiledialog
[submodule "Dependencies/glm"]
	path = Dependencies/glm
	url = https://github.com/qolisipo/glm
[submodule "Dependencies/yaml-cpp"]
	path = Dependencies/yaml-cpp
	url = https://github.com/qolisipo/yaml-cpp
[submodule "Dependencies/visit_struct"]
	path = Dependencies/visit_struct
	url = https://github.com/garbageslam/visit_struct
[submodule "Dependencies/stduuid"]
	path = Dependencies/stduuid
	url = https://github.com/mariusbancila/stduuid
[submodule "Dependencies/Fork-Awesome"]
	path = Dependencies/Fork-Awesome
	url = https://github.com/ForkAwesome/Fork-Awesome
[submodule "Dependencies/IconFontCppHeaders"]
	path = Dependencies/IconFontCppHeaders
	url = https://github.com/juliettef/IconFontCppHeaders
[submodule "Dependencies/ImGuizmo"]
	path = Dependencies/ImGuizmo
	url = https://github.com/qolisipo/ImGuizmo
[submodule "Dependencies/stb"]
	path = Dependencies/stb
	url = https://github.com/qolisipo/stb
[submodule "Dependencies/assimp-premake"]
	path = Dependencies/assimp-premake
	url = https://github.com/qolisipo/assimp-premake
